@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: gray;
  }
}

/* body{
  background-image: url("https://wallpaperaccess.com/full/1268183.jpg");
} */


/* #cards{
  display: flex;
  padding: 20px;
}

.card{
  border: 5px solid black;
  background-color: gray;
  padding: 20px;
} */